/* google font - urbanist */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #CAEB66;
    --color-secondary: #03373D;
    --color-auth: #FAFDF0;
    --color-accent: #606060;
    --color-info: #0F172A;
}

* {
    font-family: "Urbanist", sans-serif;
}

body {
    background-color: #EAECED;
}

.active {
    background-color: var(--color-primary);
}

.bg-mercahnt {
    background-image: url(./assets/be-a-merchant-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--color-secondary);
}

h2 {
    font-weight: 800;
    font-size: 2rem;
    color: var(--color-secondary);
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-secondary);
    text-align: center;
}

h4{
    font-weight: 800;
    font-size: 1.125rem;
    color: var(--color-secondary);
}

p {
    font-weight: 500;
    color: var(--color-accent);
}

.label {
    color: var(--color-info);
    font-weight: 700;
    font-size: 1rem;
}